# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# webpack builds
src/assets/min/*

# babel builds
**/.babel.compiled/

# tensorflow models
**/tfjs-model/
src/sandbox/src/*

# don't ignore these
!src/sandbox/src/sandbox*.js
!src/sandbox/src/sandbox*.scss

tempCodeRunnerFile.js

src/assets/css/bootstrap-3.3.7-dist.zip
src/sandbox/workingTF.zip