#nav1:hover,
#nav2:hover,
#nav3:hover,
#nav4:hover {
    background: #151d27;
}

.react-bs-table-sizePerPage-dropdown {
    display: block
}

/*  export button for headers tab */
.export-csv, 
.export-csv a {
    background: #2fa4e7;
    color: black;
}

.export-csv:hover, 
.export-csv a:hover {
    background: black;
    color: rgb(203, 75, 22);
}

/*  mini scatterplot below graph widget */
g.brush rect.selection {
    fill: rgb(203, 75, 22);
    fill-opacity: 0.2
}

/*  draggable */

div.draggable-widget {
    overflow: hidden;
    resize: both;
    display: block;
}

div.draggable-widget::-webkit-scrollbar {
    width: 10;
}

.widget-handle-drag {
    text-align: left;
}

div.widget-handle-drag span.widget-drag {
    content: '....';
    width: 40px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    line-height: 5px;
    cursor: move;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #cccccc;
    text-shadow: 1px 0 1px black;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

div.widget-handle-drag span.widget-drag::after {
    content: '.... .... .... .... ....';
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
div.widget-handle-drag .widget-drag:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

div.widget-handle-drag form,
div.widget-handle-drag .glyphicon {
    cursor: pointer;
    float: right;
}

.widget-scrollbar {
    text-align: center;
}

div.drag-tooltip {
    position: fixed;
    bottom: 0;
    width: 99%;
    text-align: right;
    padding-bottom: 10px;
}

div.drag-tooltip .glyphicon {
    float: right;
}

div#bug-tool-tip p {
    text-align: left;
}

div#bug-tool-tip span {
    text-decoration: underline;
}