#nav1:hover,
#nav2:hover,
#nav3:hover,
#nav4:hover {
    background: #151d27;
}

.react-bs-table-sizePerPage-dropdown {
    display: block
}

/*  export button for headers tab */
.export-csv, 
.export-csv a {
    background: #2fa4e7;
    color: black;
}

.export-csv:hover, 
.export-csv a:hover {
    background: black;
    color: rgb(203, 75, 22);
}

/*  mini scatterplot below graph widget */
g.brush rect.selection {
    fill: rgb(203, 75, 22);
    fill-opacity: 0.2
}

/*  draggable */

div.react-draggable {
    overflow: hidden;
    resize: both;
    display: block;
}

div.react-draggable::-webkit-scrollbar {
    width: 10;
}

div.widget-handle-drag span.widget-drag {
    content: '....';
    width: 40px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    line-height: 5px;
    cursor: move;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #cccccc;
    text-shadow: 1px 0 1px black;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

div.widget-handle-drag span.widget-drag::after {
    content: '..... ..... ..... ..... .....';
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
div.widget-handle-drag .widget-drag:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
/* 
div.drag-tooltip {

}
 */