#nav1:hover,
#nav2:hover,
#nav3:hover,
#nav4:hover {
    background: #151d27;
}

.react-bs-table-sizePerPage-dropdown {
    display: block
}

.export-csv, .export-csv a {
    background: #2fa4e7;
    color: black;
}

.export-csv:hover, .export-csv a:hover {
    background: black;
    color: #2fa4e7;
}

g.brush rect.selection {
    fill: rgb(203, 75, 22);
    fill-opacity: 0.2
}