nav.nav_bar {
    background: rgb(36, 48, 64);
}

a.nav_a_img {
    padding: 0 10px;
}
img.nav_img {
    height: 100%;
}

:local(a.nav_link:hover) {
    background-color: yellow;
}

:local(a.nav_link) {
    color: yellow;
}

#test:hover {
    background-color: red;
}